<html>
    <body>
        <table>
            <form name="form" methos="POST" action="/write">
            <tr>
                <td> 작성자 </td>
                <td> <input type="text" name="name"></td>
            </tr>
            <tr>
                <td> 제목 </td>
                <td> <input type="text" name="title"></td>
            </tr>
            <tr>
                <td> 내용 </td>
                <td> <textarea name="contents"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit"></td>
            </tr>
        </form>
        </table>

    </body>


</html>